<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding: 50px;">
        
        <h1 style="text-align: center;">Espace adolescent</h1>

        <img style="max-width:400px;margin: 50px auto; display: block;"  src="ado.jpg" alt="">



        

        <br><br>
        <strong>Encore plus que pour un adulte,</strong> 
        <p>
            la gestion de l’intolérance chez un ado coeliaque n’est pas évidente. La pression du regard des autres 
            est importante et, à cet âge, on ne veut surtout pas être différent. Cet article vise à faire le point sur
            les divers obstacles à surmonter à travers le témoignage de Caroline (9 ans) et de Clara (14 ans), ou plutôt 
            de leurs mamans respectives, Céline et Géraldine.
        </p> <br>
       <strong> La difficulté d’être “comme tout le monde”</strong>

       <p>
            Aujourd’hui âgée de 14 ans, “Kenza se sent un peu différente des autres sur le plan alimentaire et 
            ça l’insupporte”. <br> L’adolescence est en effet une période de la vie où les jeunes cherchent à se conformer
            aux tendances et à faire comme tout le monde pour se sentir accepter. 
            
            <strong>Ils commencent à manger à l’extérieur :</strong>
            pizza, sandwich, kebab, voilà des mets très tentants et dangereux pour l’ado coeliaque. Comme tous les
            ados coeliaques, “Kenza ressent parfois de la frustration lorsqu’elle désire ardemment un plat qu’elle 
            ne peut choisir au restaurant”. En général, sa maman, s’arrange pour essayer le week-end de mettre au menu 
            les aliments interdits de la semaine en cuisinant des hamburgers ou une pizza sans gluten.
        </p>

        
        <h2 style="color: rgb(121, 7, 7);">Surveillance parentale maintenue</h2>

        <p>
        Ayant conscience très tôt que leur santé dépend de leur alimentation, les ados coeliaque sont en
        général plus responsables que les jeunes de leur âge à ce sujet. <br> Pour Amina, “c’est totalement rentré
        dans l’hygiène alimentaire. Elle demande constamment si c’est du sans gluten”. Mais attention ! Les
        parents doivent rester attentifs aux symptômes qui traduisent une rechute comme perte de poids, 
        la fatigue soudaine, les vomissements. <br><br>

        Attention également aux déplacements à l’extérieur assez longs comme une colonie de vacances ou un stage sportif. Il est nécessaire de les planifier en contactant l’équipe sur place et en emportant suffisamment d’aliments sans gluten de dépannage.

        </p>

    </div>

    <footer style="max-width: 1000px;">
            
        <p>Contacter Nous : </p>
        <p>Facebook  

            <a href="https://web.facebook.com/ines.brahami.14" target="_blank"><i class="fab fa-facebook"></i></a>
        </p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>