<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding: 50px;">
      
        <h1 style="text-align:center;">Allergie au blé</h1>

        <img style="max-width:400px;margin: 50px auto; display: block;"  src="aller.jpg" alt="">



        <br><br>
        
        
        <p>
            Une allergie au blé est une réaction du système immunitaire de votre organisme. 
            Lorsque vous souffrez d’une allergie au blé, votre système immunitaire pense que les protéines du 
            blé sont dangereuses et il déclenche divers symptômes. <br>

            Le blé est l’un des neuf allergènes alimentaires les plus communs au Canada. 
            Les huit autres sont les arachides, les noix (comme les amandes, les noix du Brésil, 
            les cajous, les noisettes, les noix macadamia, les pacanes, les pignons, les pistaches 
            et les noix de Grenoble), les graines de sésame, le lait, les œufs, les fruits de mer, 
            le soja et les sulfites (un additif alimentaire).
        </p>
        
        <h2 style="color: rgb(121, 7, 7);">Quels sont les symptômes de l’allergie au blé?</h2>

        <p>Parmi les symptômes de l’allergie au blé, il y a les suivants :</p>

        <ul>
            <li>
                Une bouffée de chaleur au visage, de l’urticaire ou une éruption cutanée
            </li>
            <li>
                De la rougeur et des démangeaisons de la peau
            </li>
            <li>
                Un gonflement des yeux, du visage, des lèvres, de la gorge ou de la langue
            </li>
            <li>
                Des difficultés à respirer, à parler ou à avaler
            </li>
            <li>
                De l’anxiété, de la détresse, un évanouissement, de la pâleur, une faiblesse, un sentiment d’alarme et de peur 
                Des crampes, de la diarrhée, des vomissements
            </li>
            <li>
                Une baisse de la tension artérielle, une accélération du rythme cardiaque, une perte de conscience
            </li>
        </ul>

        <p>
            L’allergie au blé ne provoque généralement pas l’anaphylaxie (une réaction allergique grave qui peut être 
            mortelle). Mais toute réaction allergique grave au blé doit faire l’objet d’une consultation auprès de 
            votre professionnel de la santé.

        </p>


        <h2 style="color: rgb(121, 7, 7);">L’allergie au blé est-elle la même chose que la maladie cœliaque ?</h2>
        <p>
            Non. Lorsqu’une personne souffre d’une allergie au blé, son système immunitaire réagit aux protéines que 
            contient le blé. Une allergie au blé ne cause pas de dommages permanents aux intestins. 
        </p>

        <p>
            Chez la personne qui souffre de maladie cœliaque, une protéine en particulier, le gluten, endommage 
            l’intestin grêle, ce qui affecte la capacité de l’organisme d’absorber plusieurs éléments nutritifs 
            importants. Le gluten est présent dans le blé, mais aussi dans d’autres céréales, comme le seigle, 
            le triticale et l’orge. Les symptômes de la maladie cœliaque sont une diarrhée chronique, la perte de poids,
            des crampes, le ballonnement, la fatigue et l’anémie.
        </p>


        <p>
        Consultez votre professionnel de la santé ou votre allergologue si vous ne savez pas si vous souffrez d’une 
        allergie au blé ou de maladie cœliaque.

        </p>

        <h2 style="color: rgb(121, 7, 7);">Quels aliments contiennent ou pourraient contenir du blé ?</h2>
        <p>
            Le moyen le plus sûr d’éviter toute réaction allergique au blé est d’éviter tous les aliments et les produits 
            pouvant contenir du blé. Les lignes directrices canadiennes exigent que la présence de blé dans les produits
            soit clairement indiquée sur l’étiquette. Celle-ci indiquera « contient du blé » si le produit en contient.

        </p>
        <p>
            Si vous ne savez pas avec certitude si un aliment contient ou non du blé, téléphonez toujours au fabricant. Et n’oubliez pas que les produits changent constamment, ce qui signifie que certains de vos aliments préférés ne contenant pas de blé pourraient en contenir la prochaine
            fois que vous les achetez. 
        </p>
        <p>
            Lisez toujours la liste des ingrédients pour être bien sûr et en cas de doute, ne mangez pas l’aliment. 
            Renseignez-vous. Inscrivez-vous au service d’avis par courriel gratuit de l’Agence canadienne d’inspection
             des aliments (ACIA) « Avis de rappel d’aliments ».

        </p>

        <h2 style="color: rgb(121, 7, 7);">L’allergie au blé disparaît-elle avec l’âge ?</h2>
        <p>
            Les allergies au blé chez les bébés peuvent disparaître avant l’âge de cinq ans. Si un adulte développe 
            une allergie au blé, il est peu probable qu’elle disparaisse.
        </p>

        <h2 style="color: rgb(121, 7, 7);">Conseils pour une alimentation sans blé</h2>
        <p>
            Cuisinez avec des farines non apparentées au blé comme la farine d’amarante, de marante, de sarrasin, 
            de riz, de haricot, de maïs et de soya. <br>
            Cuisinez avec des pâtes à base de sarrasin, de riz, de kacha, de millet ou de pomme de terre.
        </p>


        <p>
            Comme collation, choisissez des croustilles de maïs, des galettes de riz, des craquelins de riz ou des 
            bretzels à l’avoine cuits au four et nature. Les versions assaisonnées de ces aliments pourraient contenir
             de la farine de blé. <br>
            Pour les céréales à déjeuner, choisissez celles à l’avoine, au riz soufflé, aux flocons de maïs, au millet 
            soufflé, à l’amarante soufflée ou au son de riz. Essayez ce délicieux gruau instantané à la tarte
             aux pommes. <br>
            Consommez des légumes, des fruits, des viandes et des substituts de la viande frais ou surgelés simplement 
            apprêtés.
        </p>

        <p>
            Plus un aliment a été transformé, plus il y a de risques qu’il contienne du blé. 
            Consultez nos exemples de plans de repas sans gluten. Les recettes sans gluten ne contiennent pas de blé,
             de seigle, d’avoine ou d’orge. <br>
            Elles comportent donc plus de restrictions que nécessaire si vous suivez un régime sans blé, mais le plan
             de repas vous donnera quand même beaucoup d’idées intéressantes. Lorsque vous mangez au restaurant, 
             assurez-vous d’informer le personnel de votre allergie. Appelez à l’avance pour savoir quels plats 
             sont sans blé. <br>
            Faites attention à la contamination croisée, qui peut se produire lorsqu’une petite quantité de blé entre
             en contact avec des aliments pendant la cuisson ou la préparation d’autres produits alimentaires.
        </p>

        <h2 style="color: rgb(121, 7, 7);">Comment une diététiste peut-elle vous aider?</h2>
        <p>
            Une diététiste peut travailler avec vous pour planifier des repas et des collations qui sont sans allergènes
             et nutritifs. Si vous êtes allergique au blé, une diététiste peut s’assurer que vous consommez assez de 
             nutriments importants comme les fibres. 
             <br>
             Si votre bébé ou votre enfant est allergique au blé, une diététiste
              peut vous conseiller sur les aliments à lui offrir pour favoriser sa croissance et son développement.
            <br>  
            Contactez une diététiste dès aujourd’hui!

        </p>



        <h2 style="color: rgb(121, 7, 7);">En conclusion</h2>
        <p>
        Si vous êtes allergique au blé, vous pouvez quand même avoir une alimentation nutritive et équilibrée. 
        
        <br>
        Si vous n’avez pas la certitude qu’un produit ne contient pas de blé, ne prenez pas de risques. Il est important de lire systématiquement la liste des ingrédients pour 
        éviter d’avoir une réaction allergique au blé.
        </p>


    </div>

    <footer style="max-width: 1000px;">
            
        <p>Contacter Nous : </p>
        <p>Facebook  

            <a href="https://web.facebook.com/ines.brahami.14" target="_blank"><i class="fab fa-facebook"></i></a>
        </p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>