<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding: 50px;">
      
        <h1>Qu’est-ce que l’asthme du boulanger ?</h1>

        <p>
        L’asthme est une maladie souvent d’origine allergique, touchant entre 6 % et 7 % de la population. Elle se caractérise par une inflammation ou une irritation des bronches et se manifeste par des crises.

        Les allergies respiratoires, l’asthme et les rhinites sont particulièrement courantes chez le boulanger. Elles sont provoquées par les poussières de farine ou par les enzymes contenus dans certaines farines ou additifs. D’après les recherches, les protéines dites solubles appelées globulines et albumines semblent être les plus agressives.

        </p>
        <img style="max-width:400px;margin: 50px auto; display: block;"  src="boulanger.jpg" alt="">


        <h2 style="color: rgb(121, 7, 7);">Comment se déclare l’asthme du boulanger ?</h2>

        <p>
        Durant la fabrication du pain, les poussières de farine restent en suspension dans l’air du fournil. Après un certain temps d’exposition – ce peut être de façon immédiate ou suite à plusieurs années d’exposition régulière, le boulanger peut se sensibiliser à la poussière de farine. Son organisme va fabriquer des anticorps et la farine devient allergène.

        C’est la rencontre de ces anticorps et de l’allergène qui va provoquer de nombreuses manifestations gênantes comme des irritations oculaires, des conjonctivites, des irritations de la peau, des rhinites ou de l’asthme.

        Inhalées, les poussières de farine peuvent alors affecter les bronches voire l’ensemble du système respiratoire. Dans le cas d’une exposition prolongée et répétée à l’agent allergisant, la réaction peut devenir handicapante, voire mettre véritablement en danger la vie de la personne concernée. On parle bien de difficultés sévères à respirer.

        La gêne a tendance à apparaître lorsque le boulanger a fini son travail. Elle disparaît tout simplement lorsqu’il n’est plus exposé à la farine.

        Le risque ? Devoir renoncer à exercer sa profession pour préserver sa santé.
        </p>

        <p>
        Les institutions compétentes dénombrent environ 250 agents irritants présents sur nos lieux de travail ; 250 éléments susceptibles de faire naître des symptômes asthmatiques chez une personne jusqu’ici insensible. Et ce nombre continue d’augmenter.
        <br>
        L’asthme du boulanger en chiffres
        Selon l’Assurance Maladie, la farine est aujourd’hui la première cause d’asthme professionnel en France, tous secteurs confondus... La corporation des boulangers est la plus touchée. En effet, parmi les professionnels déclarant l’asthme comme maladie professionnelle, 1 sur 4 est boulanger. L’asthme est un vrai problème de santé au travail. La maladie peut survenir à tout moment de la carrière et, selon l’Assurance Maladie, de nombreux professionnels ne déclarent pas être malade par peur d’être licenciés ou reclassés.

        </p>
        <h2 style="color: rgb(121, 7, 7);">Quelles mesures de prévention contre l’asthme du boulanger ?</h2>

        <p>
        Deux sources principales d’empoussièrement ont été identifiées :
        </p>


        <p>
        les opérations manuelles effectuées par le boulanger lors de la fabrication du pain et de maintenance ;
        les machines de boulangerie pendant fonctionnement et nettoyage.
        Des solutions pour diminuer les émissions de poussière de farine ont été expérimentées avec succès par les professionnels de la boulangerie. Il s’agit, entre autres, du fleurage, du chargement de l’eau avant la farine dans le pétrin ou encore du nettoyage des machines au sol à l’aide d’un aspirateur professionnel adapté.

        Parallèlement, un partenariat entre l’Assurance Maladie et les fournisseurs de machines a été signé, afin d’améliorer les performances des machines utilisées en boulangerie. En 2005, les constructeurs se sont notamment engagés à revoir la conception de leurs machines afin qu’elles émettent moins de poussières.

        Des mesures de prévention ont également été adoptées pour la formation des apprentis. Se familiariser aux nouvelles méthodes de travail doit, en effet, se faire le plus tôt possible dans le parcours professionnel. À cette fin, l’Institut National de la Boulangerie Pâtisserie (INPB) a d’ailleurs conçu divers supports adaptés, à destination des apprentis, notamment des fiches techniques, des vidéos et des bandes dessinées.
        </p>


    </div>

    <footer style="max-width: 1000px;">
            
        <p>Contacter Nous : </p>
        <p>Facebook  

            <a href="https://web.facebook.com/ines.brahami.14" target="_blank"><i class="fab fa-facebook"></i></a>
        </p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>