<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        
        <h1>Maladie cœliaque </h1>
        <p>
            La maladie cœliaque ou intolérance au gluten est aujourd’hui une des maladies digestives les plus fréquentes. 
            Sa connaissance a beaucoup progressé durant ces vingt dernières années, mais le seul traitement connu reste l’éviction totale du gluten de l’alimentation. Cependant, avant de commencer un régime aussi restrictif et astreignant, 
            il faut établir avec certitude un diagnostic précis.
        </p>
        <img style="max-width:400px;margin: 50px auto; display: block;" class="pres" src="sec3.jpg" alt="">

        
        <p>
            La maladie cœliaque est une intolérance permanente à une ou plusieurs fractions protéiques du gluten contenues 
            dans certaines céréales (blé, seigle, orge). Elle provoque une atrophie villositaire (destruction des replis de
             la muqueuse et du tissu conjonctif de l’intestin grêle), 
            entraînant une mauvaise absorption des nutriments, en particulier du fer, du calcium et de l’acide folique.
        </p>
        <p>
            On estime qu’une personne sur 100 peut développer cette maladie en Europe. La maladie cœliaque atteint enfants 
            et adultes dans toutes les tranches d’âge. En France, seuls 10 à 20 % des cas seraient aujourd’hui diagnostiqués,
             car 80 % des sujets sont atteints de symptômes mineurs comme une simple carence en fer ou de
             formes asymptomatiques.
        </p>

        <h2 style="color: rgb(121, 7, 7);">Intolérance ou allergie ?</h2>

        <p>
            Il ne faut pas confondre l’intolérance au gluten avec l’allergie au blé, plus rare, qui met en jeu un 
            mécanisme immunitaire différent et des réactions d’hypersensibilité immédiate avec des manifestations 
            allergiques (éruption cutanée, œdème de Quincke, choc anaphylactique dans les formes les plus graves).

        </p>

        
        <h2 style="color: rgb(121, 7, 7);">Comment se présente la maIadie coeliaque ?</h2>
        <p>
            La forme du nourrisson et celle du jeune enfant est la plus classique. L’enfant présente souvent une diarrhée chronique ; il est fatigué, apathique et triste. Son abdomen est ballonné et ses membres fins. On note le plus souvent un ralentissement de la croissance en poids et en taille.
Chez l’enfant plus âgé, la maladie peut être peu symptomatique, limitée à une petite taille, un retard d’apparition de la puberté, une anémie chronique, des anomalies de l’émail dentaire, des douleurs articulaires…
        </p>

        <p>
            Chez l’adulte, les signes de la maladie peuvent être des ballonements, des épisodes diarrhée - constipation et un amaigrissement inquiétant. La maladie peut être mono-symptomatique (anémie, ostéoporose…) ou atypique en se manifestant par des crampes musculaires, une stomatite aphteuse, des irrégularités menstruelles, des fausses couches à répétition. 
            Le nombre et l’intensité des symptômes varient d’une personne à une autre.
        </p>

        <h2 style="color: rgb(121, 7, 7);">Etablir un diagnostic</h2>

        <p>
            Le diagnostic repose sur la recherche d’anticorps sériques spécifiques de la maladie dans le sang, les IgA anti-transglutaminase ; la confirmation se fait par des biopsies sur la partie haute de l’intestin grêle (duodénum) par voie endoscopique.
Chez les enfants, l'ESPGHAN (Société européenne de gastro-entérologie, hépatologie et nutrition pédiatriques) recommande de ne pas effectuer de biopsie dans certains cas bien précis et après avis d'un pédiatre gastro-entérologue.
        </p>

        <h2 style="color: rgb(121, 7, 7);">Traitement</h2>

        <p>
            Le seul traitement de la maladie consiste à suivre un régime sans gluten strict et à vie. La mise au régime sans gluten doit conduire à une rémission des symptômes.  Il n’existe aujourd’hui, aucun traitement médicamenteux. 
            <br><br>
            Pour en savoir plus, vous pouvez consulter un médecin.
        </p>
    </div>

    <footer>
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>