<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding: 50px;">
        <h1>Maladie cœliaque </h1>
        
        <p>
            La maladie coeliaque, ou intolérance au gluten est une maladie fréquente et en constante 
            augmentation dans de nombreux pays (notamment aux Etats Unis et en Finlande). 
            <br>
            Trop peu diagnostiquée, 
            elle est pourtant très répandue et pose un véritable problème de santé publique. Aucun traitement ne 
            permet de guérir de cette maladie qui dure toute la vie. La recherche vise à trouver une alternative au régime.


        </p>
        <img style="max-width:400px;margin: 50px auto; display: block;"  src="sec3.jpg" alt="">

        
        

        <h2 style="color: rgb(121, 7, 7);">Définition</h2>

        <p>
            La maladie cœliaque ou intolérance au gluten est déclenchée par l'ingestion de gluten chez des sujets 
            génétiquement déterminés. Cela génère une réaction immunitaire anormale qui entraine une atrophie 
            (diminution de la taille des villosités qui débute dans la partie proximale de l'intestin grêle et 
            peut s'étendre à l'ensemble de l'intestin grêle). Ces villosités sont le siège de l'absorption de nombreux 
            nutriments dont le calcium, le fer et l'acide folique. Leur destruction entraine des carences voire des signes
            de malnutrition malgré une alimentation normale. <br><br>

            Le gluten est une protéine qui se trouve dans beaucoup de céréales (seigle, blé et orge). 
            Les protéines du gluten qui provoquent la maladie sont les gliadines du blé et de l'épeautre 
            (céréale proche du blé), les sécalines du seigle et les hordéines de l'orge. <br> Chez un sujet indemne de 
            la maladie, ces protéines ne peuvent pas pénétrer dans la paroi intestinale. Dans la maladie cœliaque, 
            cette étanchéité est altérée entrainant une réaction inflammatoire et une réponse immunitaire dirigée 
            contre ces fractions protéiques du gluten.  <br>

            Les causes de cette maladie restent inconnues à ce jour.
        </p>



        <strong>
            Les scientifiques s'accordent à penser à une association de facteurs génétiques et environnementaux, 
            notamment liés aux habitudes alimentaires du début de la vie.

        </strong>
        <h2 style="color: rgb(121, 7, 7);"> Une maladie héréditaire:</h2>
        <p>
        Une concordance de 70 % (versus 10%) de l'incidence de la maladie chez les jumeaux monozygotes et 
        l'importance des formes familiales (risque multipliée par dix chez le frère ou la sœur d'une personne 
        présentant la maladie par rapport à la population générale) démontrent la nature héréditaire de la maladie.

        </p>

        <p>
        Le risque génétique dépend en grande partie d'un composant situé sur la région HLA (de l'anglais Human 
        Leucocyte Antigens) du chromosome 6.

        </p>

        <p>
        Plus de 95% des patients atteints de maladie cœliaque expriment la molécule DQ2 ou DQ8 codée par 
        les gênes HLA-DQA1 et HLA-DQB1. 30 à 40% de la population générale sont également porteuses de ces 
        hallèles HLA-DQ2 et/ou DQ8 mais ne développeront jamais cette maladie. 
        <br>
        Ceci indique que d'autres 
        régions de susceptibilité sont également incriminées dans le développement de la maladie et qu'il
         existe d'autres facteurs que les facteurs génétiques pour déclencher la maladie.

        </p>


        <p>
            Plusieurs sites non HLA situés sur les chromosomes 6, 15 et 19 ont été récemment décrits. <br><br>
            L'étude de ces gênes a été déterminante pour la compréhension de la maladie. 
            Ces molécules DQ2 et DQ8 jouent un rôle clef dans la réponse inflammatoire de la maladie cœliaque. 
            <br>
            Elles se lient, grâce à une enzyme tissulaire (la transglutaminase), à des peptides dérivés 
            du gluten afin de les présenter à certaines cellules de l'intestin (cellules T) sensibles au gluten, 
            entraînant une inflammation intestinale.

        </p>
        <h2 style="color: rgb(121, 7, 7);">Des facteurs environnementaux:</h2>
        <p>
            Le gluten est le déclencheur de la réponse immunologique de la maladie cœliaque. 
            Il se comporte comme un antigène qui va provoquer la fabrication d'anticorps. Certains 
            processus inflammatoires intercurrents comme une infection intestinale, le stress... peuvent 
            également intervenir dans la genèse de la maladie, par altération de la barrière intestinale 
            (par augmentation de la perméabilité) l'âge d'introduction du gluten et la dose de gluten ingérée
            peuvent être également incriminés.

        </p>
       

        <h2 style="color: rgb(121, 7, 7);">Une maladie trop peu diagnostiquée:</h2>

        <p>
            De nombreuses études estiment sa prévalence en Europe et Amérique du Nord à 1% de la population ce qui 
            représenterait 600.000 malades en France. Seuls 150.000 cas y sont répertoriés ! <br>

            Tous les experts s'accordent à dire que cette incidence est très sous-estimée, notamment du fait de
             l'existence de formes silencieuses, paucisymptomatiques ou atypiques. 
             
            <br>
            La maladie cœliaque touche vraisemblablement 5 à 10 fois plus de personnes que nous ne l'estimons 
            aujourd'hui.Le diagnostic est pourtant simple : il repose sur la mise en évidence d'anticorps 
            anti-transglutaminase détectés par une simple prise de sang puis une confirmation histologique 
            lors d'une fibroscopie oeso-gastro-duodénale.

            <br><br>
            La maladie cœliaque peut être diagnostiquée à tous les âges de la vie mais connaît deux pics de 
            fréquence, soit entre six mois et deux ans après l'introduction du gluten alimentaire, soit à 
            l'âge adulte, le plus souvent entre 20 et 40 ans.
            <br>
            Les patients atteints de maladie cœliaque non traitée sont le plus souvent asymptomatiques ou 
            peuvent présenter une diarrhée chronique, des douleurs abdominales récurrentes, 
            des ballonnements et/ou un amaigrissement. Ces symptômes peu caractéristiques peuvent 
            s'accompagner de manifestations extra-intestinales parfois révélatrices de la maladie :
            ostéoporose, arthrite inflammatoire, dermatite herpétiforme, neuropathie. <br><br>

            Chez le nourrisson et le jeune enfant, la diarrhée est très souvent présente avec, comme dans 
            le cas des MICI, un retentissement négatif sur la croissance. <br>

            Les principales complications de la maladie cœliaque sont l'association à d'autres maladies
             auto-immunes qui peuvent toucher tous les organes (thyroïde, pancréas, hypophyse ...) et une 
             augmentation du risque de cancer et en particulier de lymphome qui est 4 fois plus fréquent que 
             dans la population générale. Ces complications justifient le traitement par la mise en route 
             d'un régime alimentaire sans gluten.


        </p>


        <h2 style="color: rgb(121, 7, 7);">Un traitement inexistant:</h2>
        <p>
        Actuellement, il n'existe pas de traitement curatif définitif ou préventif de la maladie.
        </p>


        <p>
            La seule réponse médicale efficace aujourd'hui est la suppression complète du gluten dans l'alimentation qui entraine une rémission clinique, sérologique et histologique de la maladie et réduit le risque de complications.
            <br>
            Il est impératif d'avoir un diagnostic précis documenté avant de débuter un régime.
        </p>

        <p>
        Ce régime strict et à vie pose un véritable problème non seulement pour les repas en collectivité 
        (crèches, cantines…) mais aussi dans le choix des produits alimentaires et des médicaments où le gluten
         peut être présent dans sa forme originale ou par contamination.  <br><br>

        Contrairement à l'allergie, l'ingestion accidentelle de gluten ne provoque pas de réaction violente
         immédiate (pas de choc anaphylactique). <br>

        La recherche s'oriente vers la compréhension de l'activation du système immunitaire, et la mise 
        en évidence de substances capables de digérer et détoxiquer le gluten, afin de pouvoir à terme proposer 
        une alternative au régime.
        </p>
        
    </div>

    <footer style="max-width: 1000px;">
            
        <p>Contacter Nous : </p>
        <p>Facebook  <a href="https://web.facebook.com/ines.brahami.14" target="_blank"><i class="fab fa-facebook"></i></a></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>