<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            <a href="/">Diagnostique</a>
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        
        <h1>Cuisiner sans gluten</h1>

        <p>
            Imaginer des recettes variées, simples à réaliser, qui plaisent à tous et sans gluten ne nécessite pas forcément d’être un 
            cuisinier professionnel. Voici quelques pistes pour devenir un « chef sans gluten ».
        </p>

        <img style="max-width:400px;margin: 50px auto; display: block;" class="pres" src="sec2.jpeg" alt="">


        <h2 style="color: rgb(121, 7, 7);">Identifier les produits autorisés / interdits</h2>


        <p>
            Pour identifier les catégories de produits autorisés ou interdits aux intolérants au gluten, 
            tournez-vous vers notre tableau des produits généraux autorisés/interdits dans un régime sans gluten.
             Vous le trouverez dans votre guide pratique pour un quotidien sans gluten.
        </p>

        <p>
            Mais quand vous faites vos courses, il vous faut avant tout apprendre à lire les étiquettes des produits.
             Les industriels ont l'obligation d'indiquer la présence de gluten dans la liste des ingrédients selon le Décret 
             d'application no 2015-447 du 17 avril 2015 du règlement INCO relatif à l'information des consommateurs sur les
              allergènes et des denrées 
            alimentaires non préemballées.
        </p>


        <h2 style="color: rgb(121, 7, 7);">Les sites de menus et conseils</h2>
        <p>
            De nombreux sites vous permettent de retrouver des menus sans gluten et des conseils.
             N’hésitez pas à les consulter et à nous faire partager vos bonnes adresses.
        </p>
        <ul>
            <li>Allergobox : moteur de recherche de produits et recettes selon vos restrictions alimentaires.</li>
            <li>Cook&Be : idées de repas personnalisés et équilibrés avec des listes de courses pensées pour le sans gluten.</li>
        </ul>
    </div>

    <footer>
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>