<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
           
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding:50px">
        
        <h1 style="text-align:center">Cuisiner sans gluten</h1>

        <p>
        Manger sans aucune trace de gluten n’est pas toujours évident. Et dénicher des idées de bon petits plats qui n’en contiennent pas, c’est parfois compliqué ! Ce dossier va vous aider à trouver l’inspiration. <br><br>

        Le gluten se niche dans un grand nombre de nos plats : dans la farine de blé d’abord, base de bien des préparations, mais aussi dans d’autres céréales comme l’orge, l’avoine et le seigle, et même dans certaines sauces type moutarde ou sauce soja. Gare également aux fonds de veau et autres cube de bouillon qui parfois en contiennent, lisez bien les étiquettes ! Heureusement, il est tout à fait possible de trouver des alternatives, et s’en passer sans aucune carence d’ailleurs. Les céréales telles que le maïs ou le sarrasin, les légumineuses, et les produits bruts en général (les plats préparés en ont souvent des traces !) ont toute leur place dans un régime sans gluten. Honneur aux légumes, viandes, poissons et laitages, les papilles seront ravies et les appétits assurément comblés.

        Exit le gluten, 
        bonjour la patate ! Dévorez une part de gratin de patates douces au reblochon ou un bon bol de soupe de pommes de terre à la dinde. Le sarrasin remplace également le blé en mode farine, avec la galette de sarrasin fourrée aux champignons ou bien la galette de sarrasin complète œuf, jambon et gruyère ; quand le riz se substitue sous formes diverses : riz sauté aux légumes, boeuf et épices, ou encore hamburger de poulet et galettes de riz vous régaleront. Même le quinoa se croit dans une rizière ! Goûtez-le façon risotto, un vrai régal zéro gluten ! Et puis choux variés, ainsi que trésors terre ou mer vous laissent l’embarras du choix pour combler la tablée sans jamais une once de gluten. Variez joyeusement entre notamment un gratin de pétoncles aux épinards, une papillote de saumon à la compotée de chou rouge aux pommes, un filet mignon de porc au poivre vert, une brandade de cabillaud au chou-fleur, un poulet coco ou un hamburger bistrot (celui sans pain) :
        délices et plaisirs gustatifs assurès !
        </p>

        <img style="max-width:400px;margin: 50px auto; display: block;"  src="sec2.jpeg" alt="">

        <strong>
        Manger sans gluten, d'accord, mais pas sans saveurs ni diversité. Régalez-vous avec ces recettes de plats « gluten free » et clouez le bec aux plus sceptiques !
        </strong>


        <div id="rec1" class="recette">
            <div>
                
                <h2 style="color:rgb(99, 12, 12);">
                <strong>Wrap d'été au saumon fumé, concombre, poivron et pois chiches sans gluten</strong>
                </h2>
                
                <p>
                Découvrez sans plus tarder cette recette croquante de wrap totalement healthy et savoureuse de saumon fumé, crudités et pois chiches sans gluten.

                </p>
                <strong>Ingrédients :</strong>
                <strong>POUR LA PÂTE :</strong>
                <ul>
                    <li>4 œufs</li>
                    <li>10 cl de crème fleurette</li>
                    <li>250 g de farine de riz</li>
                    <li>150 g de Maïzena tamisée</li>
                    <li>1 cuillère à café de sel fin</li>
                </ul>
                <strong>POUR LA GARNITURE :</strong>
                <ul>
                    <li>4 tranches de saumon fumé</li>
                    <li> 1 yaourt à la grecque</li>
                    <li>1 salade romaine</li>
                    <li>1 concombre</li>
                    <li>1 poivron rouge</li>
                    <li> 80 g de pois chiches cuits</li>

                    <li> 1/2 gousse d'ail hachée</li>
                    <li>8 brins de ciboulette</li>
                    <li>3 gouttes de tabasco</li>
                    <li>1 cuillère à soupe d'huile d'olive</li>
                    <li>Sel, poivre</li>
                </ul>

                <strong><h2>Préparation</h2></strong>
                <p> 1 -Préparer la pâte : mélanger la farine de riz, la Maïzena et le sel. <br>
                    Incorporer les œufs et remuer. Ajouter 10 cl d'eau et la crème fleurette, puis mélanger jusqu'à 
                    obtenir une pâte homogène. Laisser reposer 15 minutes. </p>
                <p>
                    2 - Chauffer une crêpière antiadhésive sur feu vif légèrement graissée (optionnel). Verser une louche de pâte et faire cuire 1 minute d'un côté et 30 secondes de l'autre (le wrap doit légèrement griller).
                    <br> Recommencer jusqu'à épuisement de la pâte. 
                </p>
                <p>
                    3 - Préparer la garniture : mélanger le yaourt avec l'huile d'olive, l'ail haché, la ciboulette ciselée, 
                    le tabasco, du sel et du poivre. Réserver au frais. 
                </p>
                <p> 4 - 
                Peler le concombre et le tailler en fines tranches dans la longueur. Rincer les pois chiches. Effeuiller la salade en supprimant les grosses côtes. <br>
                 Couper le poivron en quartiers, retirer les pépins et les parties blanches, puis recouper la chair en lanières.
                </p>
                <p>
                    5 - 
                    Garnir chaque wrap de crudités, pois chiches et saumon. Ajouter une grosse cuillère à soupe de préparation au yaourt.
                </p>
            </div>
            <img src="warp.jpg" alt="">
        </div>
        

        <div class="recette">
            <img src="choco.jpg" alt="">
            <div>
                <h2 style="color:rgb(99, 12, 12);">Gâteau sans farine au chocolat et aux amandes</h2>
                <strong>Un gâteau au chocolat à la douce saveur d'amande ! Sans farine, il est moelleux à souhait et très simple à réaliser.</strong>
            
                <strong>Ingrédients</strong>
                <ul>
                    <li>200 g de chocolat pâtissier</li>
                    <li>75 g de crème liquide</li>
                    
                    <li> 100 g de poudre d'amande</li>
                    <li>2 yaourts brassés natures</li>
                    <li>1 cuillère à café de levure chimique</li>
                    <li>1 pincée de sel</li>
                </ul>
                <br>
                <strong>Préparation</strong>
                <ol>
                    <li>Mettre le chocolat à fondre à feu très doux avec la crème liquide. Préchauffer le four à 180°C.</li>
                    <li>Dans un saladier, mélanger les yaourts avec la poudre d'amande, la levure chimique et une pincée de sel. 
                        <br>
                        Ajouter ensuite le mélange crème-chocolat, mélanger à nouveau.</li>
                    <li>Mettre la préparation dans un moule à gâteau recouvert de papier sulfurisé pendant 50 minutes. Laisser tiédir avant de servir.</li>
                </ol>
            </div>


        </div>


        <div class="recette">
            <div>
                <h2 style="color:rgb(99, 12, 12);">Gratin de courgette au riz et parmesan</h2>
                <strong>Un délicieux plat végétarien, facile à préparer et qui régalera toute la famille.</strong>
                <br><br>
                <strong>Ingrédients</strong>
                <br>
                <ul>
                    <li>1,50 kg de courgettes</li>
                    <li>150 g d'oignon soit 1 gros</li>
                    <li>150 g de riz</li>
                    <li>100 g d'oeufs soit 2</li>
                    <li>100 g de parmesan râpé</li>
                    <li>330 g de crème liquide</li>
 
                    <li>20 g d'huile d'olive</li>
                    <li>10 g d'ail soit 1 gousse</li>
                </ul>
                <strong>Préparation</strong><br><br>
                <ol>
                    <li>
                    Laver, peler les courgettes. Les couper en 2 dans la longueur, retirez les graines et découper la chair en fines lamelles. Peler et émincer l'oignon. 

                    </li>
                    <li>
                    Dans une cocotte, faire chauffer l'huile d'olive pour faire cuire les morceaux de courgettes et d'oignon pendant 5 à couvert, poursuivre la cuisson à découvert pendant 15 minutes. Saler, poivrer.

                    </li>
                    <li>
                    Pendant ce temps, faire cuire le riz en suivant les indications de l'emballage. 

                    </li>
                    <li>
                    Préchauffer le four à 180°C. Mélanger les légumes avec le riz cuit et égoutté, assaisonner et mettre le mélange dans un plat à gratin. 

                    </li>
                    <li>
                    Dans un saladier, battre les oeufs en omelette, ajouter la crème liquide, 80 g de parmesan et la gousse d'ail pressée. Mélanger et verser cette préparation dans le plat à gratin.

                    </li>
                    <li>
                    Saupoudrer du reste de parmesan et enfourner le gratin de courgette au riz et parmesan pour 30 minutes. Servir bien chaud

                    </li>

                </ol>
            </div>
            <img src="gratin.jpg" alt="">
        </div>
            

        <div class="recette">
            <img src="potiron.jpg" alt="">
            <div>
                <h2 style="color:rgb(99, 12, 12);">Soupe de potiron</h2>
                
                <p>Une délicieuse soupe pour se réchauffer et se régaler.</p>
                <strong>Ingrédients</strong>
                <ul>
                    <li>800 g de potiron</li>
                    <li>100 g d'oignon</li>
                    <li>100 g de crème fraîche</li> 
                    <li>20 g de beurre</li>
                    <li>10 g de bouillon de légumes soit 1 cube</li>
 
                </ul>

                <strong>Préparation</strong>
                <ol>
                    <li>
                    Peler et découper le potiron en cubes. Émincer l'oignon. 
                    </li>
                    <li>
                    Dans une cocotte, faire revenir l'oignon et les dés de potiron avec le beurre à feu vif pendant 3 minutes. Saler, poivrer. 
                    </li>
                    <li>
                    Ajouter le cube de bouillon, 500 ml d'eau et laisser cuire 20 minutes avec le couvercle à feu moyen.

                    </li>
                    <li>
                    En fin de cuisson, mixer la soupe en ajoutant la crème fraîche. Servir bien chaud. 
                    </li>
                </ol>
            </div>


           
        </div>




        <div class="recette">
                <div>
                    <h2 style="color:rgb(99, 12, 12);">Gratin de pommes de terre et crevettes au lait végétal</h2>
                    <p>Un délicieux gratin de pommes de terre aux crevettes, sans lactose et sans gluten, parfait pour toute la famille</p>
                    <strong>Ingrédients</strong><br>
                    <ul>
                        <li>4 Pommes de terre</li>
                        <li>450 g de crevettes roses</li>
                        <li>400 ml de lait d'amandes</li>
                        <li>40 g de beurre allégé</li>
                        <li>2 cuillères à soupe de maïzena</li>
                        <li>1 cuillère à soupe de moutarde</li>
 
                        <li> 1 pincée de muscade en poudre</li>
                        <li>3 brins Persil</li>
                        <li>Sel  Poivre</li>
                    </ul>

                    <strong>Préparation</strong><br>
                    <ol>
                        <li>Décortiquer les crevettes. Laver les pommes de terre sans les peler.</li>
                        <li>Cuire les pommes de terre dans une casserole d'eau bouillante salée 20 minutes. Les égoutter, les peler et les couper en grosses tranches.</li>
                        <li>Dans une casserole, faire fondre le beurre, ajoutez la maïzena en fouettant. 
                            Verser le lait d'amande sans cesser de mélanger. Saler, poivrer, saupoudrer de noix de muscade. Ajouter la moutarde.</li>
                        <li>
                        Dans un plat allant au four, alterner des tranches de pommes de terre et les crevettes. Couvrir avec la sauce. Cuire au four pendant 20 minutes à 210°. 
                        Déguster le gratin de pommes de terre au four et crevettes au lait végétal aussitôt
                        </li>    
                    </ol>
                </div>
                <img src="pomme.jpg" alt="">
            </div>
    </div>

    <footer style="max-width:1000px">
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>