<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding: 50px;">
        <h1 style="text-align: center;">La maladie cœliaque et votre enfant</h1>

        <img style="max-width:400px;margin: 50px auto; display: block;"  src="enfant.jpg" alt="">


        <h2 style="color: rgb(121, 7, 7);">Comment m’assurer que mon enfant a la maladie cœliaque?</h2>
        <p>
        Parlez au médecin de votre enfant avant de retirer le gluten de son régime. <br>
        Autrement, les résultats des tests risquent d’être faussés et de rendre le diagnostic de votre enfant 
        difficile.

        </p>
        
        <p>
            Si le médecin de votre enfant soupçonne une maladie cœliaque, il peut demander un bilan sanguin pour
             procéder au dépistage. Si le résultat est positif, votre enfant sera dirigé vers un gastroentérologue 
             pour effectuer plus de tests et obtenir un diagnostic officiel. <br><br>

            Si votre enfant reçoit un diagnostic de maladie cœliaque, il est utile de rencontrer un diététiste 
            professionnel bien au fait des régimes sans gluten, pour vous aider à planifier les repas, lire les
             étiquettes et vous assurer que votre enfant adopte un régime sain et équilibré. Demandez à votre médecin
              de vous remettre une consultation avec un diététiste.

        </p>

        <h2 style="color: rgb(121, 7, 7);">Mon enfant peut-il continuer d’assister à des fêtes d’anniversaire?</h2>

        <p>
            Oui! Les anniversaires, les soirées pyjama et les invitations à jouer chez des amis sont importants 
            pour développer et entretenir des amitiés (et sont une grande source de plaisir!).
            <br>
            Ces activités exigent une planification et une préparation supplémentaires, mais votre enfant peut y 
            participer. Par exemple :

        </p>
        <p>
        Parlez de la maladie cœliaque et des besoins qui s’y associent aux parents qui accueilleront votre enfant.
        <br>
        Vous pourriez être surpris de tout ce qu’ils seront prêts à faire pour que votre enfant participe.
        <br>
        Vous pouvez fabriquer un gâteau sans gluten (pour tous ou en portion individuelle) que votre enfant apportera
         à l’activité. Envisagez de demander au parent qui reçoit si vous pouvez en faire un pour tout le monde.
         <br>
        Si l’hôte commande une pizza, appelez le restaurant à l’avance pour savoir s’il en existe des versions sans 
        gluten et pour vous informer des pratiques de préparation (afin d’éviter la contamination croisée).
        <br>
        Vous pouvez également préparer une propre pizza sans gluten, que votre enfant apportera.

        </p>
        
        <h2 style="color: rgb(121, 7, 7);">
        Que change la maladie cœliaque pour mon enfant à l’école?
        </h2>

        <p>
            Certains des symptômes de la maladie cœliaque non diagnostiquée décrits plus tôt peuvent nuire à la 
            capacité d’apprentissage de l’enfant. Votre enfant peut aller aux toilettes souvent ou ne pas se sentir bien.
            <br>
            Une fois que la maladie cœliaque est diagnostiquée et que votre enfant a adopté un régime sans gluten, 
            ces symptômes devraient disparaître.
            <br>
            Si votre enfant n’a pas la maladie cœliaque et que vous envisagez un régime sans gluten à cause 
            d’inquiétudes sur le plan de l’apprentissage ou du comportement, discutez-en d’abord avec 
            le médecin de votre enfant.

        </p>

        <h2 style="color: rgb(121, 7, 7);">Que doivent savoir les enseignants de mon enfant?</h2>

        <p>
            Si votre enfant est atteint de la maladie cœliaque, informez-en l’école et les enseignants. 
            Expliquez-leur que votre enfant doit respecter un régime sans gluten et éviter la contamination croisée.

        </p>
        <p>
            Il ne devrait pas être nécessaire d’exclure les enfants atteints de la maladie cœliaque des activités, 
            puisqu’il y a de nombreux moyens d’assurer leur sécurité. Établissez un système de communication avec 
            l’enseignant de votre enfant pour échanger l’information, afin que vous soyez informé(e) avant toute 
            activité spéciale au cours de laquelle des aliments seront servis. <br><br>

            Il est bon de parler d’autres aspects de la maladie avec les enseignants et le personnel scolaire :

        <br>
            Les élèves atteints de la maladie cœliaque ne devraient pas partager des aliments. 
            <br>
            Ils doivent manger seulement les aliments qu’ils ont apportés de la maison ou dont ils sont certains
             qu’ils sont sans gluten. Les enfants plus âgés peuvent apprendre à lire les étiquettes des aliments
              préemballés. <br>
            Les enfants doivent se laver les mains à l’eau savonneuse avant de manger. Les désinfectants pour les mains 
            ne conviennent pas. <br>
            Le coin repas doit être nettoyé et essuyé avant le repas ou la collation.
        </p>

        <p>
            Il faut demander à l’enseignant de communiquer avec vous s’il pense (ou sait) que votre enfant a mangé du 
            gluten. <br>
            Certains matériaux de bricolage contiennent du gluten, comme la pâte à modeler, le papier mâché, 
            la pâte slime, la peinture au doigt, les pâtes ou les céréales. Le gluten doit être consommé pour 
            provoquer des dommages, mais les jeunes enfants peuvent se mettre les mains dans la bouche, 
            sans compter qu’il est difficile de nettoyer les cuticules et le lit des ongles en classe.

        </p>
        <p>Demandez à l’enseignant de votre enfant quel matériel de bricolage est utilisé en classe et s’il est possible de le remplacer par des produits sans gluten. Si ce n’est pas possible, demandez si votre enfant 
            peut porter des gants pendant ces activités.</p>
        

    </div>

    <footer style="max-width: 1000px;">
            
        <p>Contacter Nous : </p>
        <p>Facebook  

            <a href="https://web.facebook.com/ines.brahami.14" target="_blank"><i class="fab fa-facebook"></i></a>
        </p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>