<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            <a href="/">Diagnostique</a>
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        
        <h1>Établissements du secteur alimentaire</h1>

        <p>
            <strong>
                Que vous soyez cuisinier dans un restaurant grand public, boulanger, pâtissier ou encore traiteur, 
                vous avez certainement déjà été amené à accueillir des personnes hypersensibles au gluten, voire cœliaques, 
                ou vous le serez sans aucun doute prochainement.
            </strong>
        </p>
        
        <p>
            Ces clients, dont le régime strict est une nécessité, vous interrogent sur la possibilité de manger sans 
            gluten dans votre établissement et nécessitent une attention particulière vis-à-vis de la carte proposée 
            mais aussi tout au long du service. Nous savons à quel point il peut être complexe d’acquérir les 
            connaissances vis-à-vis du gluten et de les mettre en pratique afin d’allier le goût, 
            la sécurité alimentaire et le budget. 
        </p>



        <img style="max-width:400px;margin: 50px auto; display: block;"  src="sec4.jpg" alt="">


        <p>
            Aujourd’hui, 73 % des personnes suivant un régime sans gluten ne peuvent pas se rendre au restaurant autant qu’elles le souhaiteraient et 44 % ne trouvent pas 
            d’offres sans gluten en boulangerie/pâtisserie. 
        </p>

        <h2 style="color: rgb(121, 7, 7);">La formation</h2>
        <p>
            La formation proposée s’inscrit dans un processus de “contrat“ avec l’AFDIAG afin de pouvoir être accompagné, formé, référencé sur notre site internet et d’être reconnu facilement par le biais d’un 
            logo restauration spécifique dans votre établissement.
        </p>

        <br>
        <p>
            Cette formation à distance qui se décomposera en plusieurs parties sur une journée (présentation et échanges le matin, consultation des documents envoyés l’après-midi et réponse à un questionnaire d’acquis de compétences en fin de journée) 
            sera dispensée par l’AFDIAG dont une date est programmée mensuellement. 
        </p>


        <p>
            Elle sera accessible à toutes les structures alimentaires qui en font la demande via le formulaire
             d’inscription : A VENIR
        </p>

        <u>Différents thèmes sont abordés au cours de la formation :</u>
        <ol>
            <li>Les maladies liées au gluten ;</li>
            <li>Les notions de base sur le gluten ;    </li>
            <li>La réglementation autour du gluten ;</li>
            <li>Les étiquettes et les différentes mentions à connaître ;</li>
            <li>Des mises en pratique ;</li>
            <li>Un exemple de plan d’analyse des risques (HACCP).</li>
        </ol>
    </div>

    <footer>
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>