<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/" class="current">Accueil</a>
            <a href="/search">Rechercher</a>
            <a href="/">Diagnostique</a>
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        <h1>Introduction</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae suscipit fuga labore eius ipsa debitis architecto ratione corporis adipisci 
            numquam, dolor nam dicta laboriosam blanditiis distinctio. Autem harum id voluptas.</p>

        <div class="flex">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio animi sequi beatae officiis similique repudiandae excepturi doloribus.
                 Non commodi quasi ducimus? Repudiandae sit soluta ipsum molestias nulla ratione tenetur id.</p>
            <img src="intro.jpg" alt="">
        </div>
    </div>
</body>
</html>