<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/" class="current">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        
        <div class="flex" id="ban">
            <!-- <div class="img">
                <img src="../public/celiaq.jpg" alt="">
            </div> -->
            <div class="aside">
                
                <h1 style="margin-left:0">Qui sommes nous ?</h1>
                <p>
                Devant l'empleur des maladies lièes au gluten censeès disparaitre de nos jours avec les remedes proposès par les scientifiques
                tels que l'èquillibre alimentaire , entre autre nous continuons a recenser a travers le monde ... 
                </p>
                <a class="contacter" href="/us">Lire plus</a>
            </div>
        </div>

        <div style="text-align:center">
            <h2>Catégories</h2>
            <p>Découverez nos divers catégories</p>
        </div>


        <div class="sections">


        <div class="section" id="sec3">
                <div class="container_img">
                    <img src="sec3.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Maladie cœliaque</div>
                    <p><strong>Maladie cœliaque </strong>
                        ou intolérance au gluten est aujourd’hui une des..
                    </p>
                    <a href="/celiaq">Lire Plus</a>
                </div>
            </div>


            

            
            <div class="section" id="sec2">
                <div class="container_img">
                    <img src="sec2.jpeg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Au Quotidien</div>
                    <p><strong>Cuisiner sans Gluten</strong>
                        : Imaginer des recettes variées, simples à réaliser, 
                        ..
                    </p>
                    <a href="/cuisiner">Lire Plus</a>
                </div>
            </div>


           

            <div class="section" id="sec4">
                <div class="container_img">
                    <img src="enfant.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Espace Enfant</div>
                    <p><strong>Aidez vos enfants à avoir les bons réflexes </strong>
                     : Il est important de faire comprendre
                    </p>
                    <a href="/espace">Lire Plus</a>
                </div>
            </div>

            <div class="section" id="sec1">
                <div class="container_img">
                    <img src="ado.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Espace adolescent</div>
                    <p><strong>Espace adolescent</strong>
                    J’apprends à connaître la maladie cœliaque : Je n'ai pas envie qu'on sache que je suis

                    </p>
                    <a href="/ado">Lire Plus</a>
                </div>
            </div>


            <div class="section" id="sec5">
                <div class="container_img">
                    <img src="boulanger.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Asthme du boulanger</div>
                    <p><strong>l'asthme du boulanger</strong>
                    
                    est une maladie souvent d’origine allergique, touchant entre 6 % et 7 %...
                    </p>
                    <a href="s/boulanger">Lire Plus</a>
                </div>
            </div>

        </div>





        
    </div>

    <footer>
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>