<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/" class="current">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        
        <div class="flex" id="ban">
           
            <div class="aside">
                
                <h1 style="margin-left:0">Qui sommes nous ?</h1>
                <p>
                Devant l'empleur des maladies lièes au gluten censeès disparaitre de nos jours avec les remedes proposès par les scientifiques
                tels que l'èquillibre alimentaire , entre autre nous continuons a recenser a travers le monde ... 
                </p>
                <a class="contacter" href="/us">Lire plus</a>
            </div>

            
        </div>
        <div style="padding:10px">
            <h2 style="text-align:center;">Triticum</h2>
            <p>
            triticum est un genre de plantes monocotylèdone de la famille des <strong>poacae</strong> ,sous famille de <strong>pooideae originaire d'eurasie</strong>,
            qui comprend d'une dizaine a une trentaine d'espèces selon les auteurs 
            ce sont des plantes <strong>herbacées</strong> annuelle aux tiges dressées et aux inflorescence en épis linéaires
            </p>

            <br><br>

            <h2 style="text-align:center;">proteine du  blé</h2>
            <div class="flex">
                <div id="prot_div">
                <p>
            
                    Les protéines sont groupées dans deux familles principales: <br><br>

                    Les protéines solubles: <strong>albumine et globuline</strong>, 
                    représentant 15 à 20% des protéines. Elles seraient biologiquement fonctionnelles puisqu'elles 
                    font l'activité enzymatique. <br>

                    Les protéines insolubles: la gliadine et le gluténine, protéines de réserves, représentent 80 à 85% de toutes 
                    les protéines. Ils contribuent au gluten. 
                    <br>
                    La qualité des gliadines influence l'extensibilité de la pâte; les gluténines lui donnent 
                    son élasticité et ténacité (paramètres mesurés par l'alvéographe de Chopin). Le rapport de gluténine/gliadine 
                    a alors un effet sur les propriétés transformationnelles de la pâte. Le gluten est considéré comme les meilleurs 
                    critères de la qualité technologique. Les qualités alimentaires de ces deux familles. 
                    <br><br> Il s'avère qu'il y a des réactions de plus en plus allergiques aux céréales, particulièrement des produits de blé. 1% de la population est affecté. Les résultats de la recherche suggèrent que la fraction de gliadine du gluten 
                    de blé puisse être responsable des réactions allergiques (Auricchio et autres 1982, 1985).
                    </p>
                </div>
                <img src="prot.png" id="prot" alt="">
            </div>
            

            <br><br>
            <h2 style="text-align:center;">Gluten</h2>
            <p>
            Le gluten regroupe un ensemble de protéines entrant dans la composition de la plupart des céréales 
            (blé, orge, seigle, avoine...). Cette protéine peut être à l'origine d'une intolérance alimentaire,
             baptisée maladie cœliaque.
             Quel est son rôle ? Les symptômes d'une intolérance ? Dans quels aliments le trouve-t-on ?
            </p>
            <h3 style="color: rgb(121, 7, 7);">qu'est-ce que le gluten ? </h3>
            
            <p>
                Dérivé du latin qui signifie "colle", "glue", le gluten est un terme générique qui regroupe les protéines 
                que l'on retrouve dans certaines céréales comme le seigle, l'avoine, le blé, l'orge ou l'épeautre. 
                <br> 
                En cas de maladie cœliaque, ce sont les gliadines du blé et de l'épeautre (céréale proche du blé), 
                les sécalines du seigle, les hordéines de l'orge qui sont en cause. "On met de côté les gliadines de 
                l'avénine (gluten de l'avoine) car selon certaines études, l'avénine serait bien tolérée chez certains
                patients souffrant d'intolérance au gluten, explique Aline Victor, Diététicienne Nutritionniste.
                 <br>
                On parle aussi de personnes souffrant d'une sensibilité au gluten. En effet chez ces personnes la consommation 
                d'aliments riches en gluten entraine les mêmes symptômes que les malades cœliaques". 
            </p>

            <h3 style="color: rgb(121, 7, 7);">Quel est le rôle du gluten ? </h3>
            <p>
            "Le gluten joue un rôle essentiel dans la fabrication de certains aliments comme le pain par exemple,
             poursuit la diététicienne. Il a un pouvoir de liant, c'est un "fixateur d'eau" ce qui rend la pâte moins 
             collante et assure une meilleure élasticité. <br>
            La mie du pain est ainsi moelleuse et résistante". 
            </p>

            <h3 style="color: rgb(121, 7, 7);">Quels sont les aliments contenant du gluten ?</h3>
            <p>
            Il existe un moyen mnémotechnique pour se souvenir des 5 céréales principales qui contiennent du gluten, grâce au mot SABOT :

            </p>
            <p>
            <strong>S</strong> : Seigle <br>
            <strong>A</strong> : Avoine <br>
            <strong>B</strong> : Blé (froment, kamut, épeautre…) <br>
            <strong>O</strong> : Orge <br>
            <strong>T</strong> : Triticale (céréale hybride du seigle et du blé).

            </p>


            <p>
            On trouve du gluten dans la plupart des farines et donc dans les aliments préparés à base de farine : 
            </p>

            <ul>
                <li>les pâtes,</li>
                <li>
                    les produits de boulangerie (pain, pains de mie, biscuits, pâtisseries, brioches, crêpes, gaufres,
                     muffins, beignets…), 
                </li>
                <li>
                    la plupart des céréales pour petit-déjeuner, 
                </li>
                <li>
                    les bières maltées, 
                </li>
                <li>
                    une quantité de plats préparés (pizzas, quiches, viandes et poissons panés...),
                </li>
                <li>
                    les sauces, soupes et desserts liés avec de la farine de blé,
                </li>
                <li>
                    certains assaisonnements et condiments.
                </li>
            </ul>

            <p>
                On peut également trouver du gluten dans d'autres aliments : charcuterie, pâtés, saucisses, sauces au soja, surimis, sucre glace, poudre d'ail, certains arômes naturels et artificiels à base d'arôme de malt… "Cet ingrédient n'est pas toujours mentionné sur les étiquettes ce qui peut rendre compliqué les achats alimentaires chez les patients atteints de maladie cœliaque", 
                souligne notre interlocutrice
            </p>

            <br><br>
            <br><br>
            <h1 style="color: rgb(121, 7, 7);">Un futur sans régime alimentaire :  </h1>
            <span id="article"><a href="future.pdf" target="_blank">Voir l'article</a></span>
            
        </div>
        <div style="text-align:center">
            <h2>Catégories</h2>
            <p>Découverez nos divers catégories</p>
        </div>


        <div class="sections">


        <div class="section" id="sec3">
                <div class="container_img">
                    <img src="sec3.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Maladie cœliaque</div>
                    <p><strong>Maladie cœliaque </strong>
                        ou intolérance au gluten est aujourd’hui une des..
                    </p>
                    <a href="/celiaq">Lire Plus</a>
                </div>
            </div>


            

            
            <div class="section" id="sec2">
                <div class="container_img">
                    <img src="sec2.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Au Quotidien</div>
                    <p><strong>Cuisiner sans Gluten</strong>
                        : Imaginer des recettes variées, simples à réaliser, 
                        ..
                    </p>
                    <a href="/cuisiner">Lire Plus</a>
                </div>
            </div>


           

            <div class="section" id="sec4">
                <div class="container_img">
                    <img src="enfant.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Espace Enfant</div>
                    <p><strong>Aidez vos enfants à avoir les bons réflexes </strong>
                     : Il est important de faire comprendre
                    </p>
                    <a href="/enfant">Lire Plus</a>
                </div>
            </div>

            <div class="section" id="sec1">
                <div class="container_img">
                    <img src="ado.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Espace adolescent</div>
                    <p><strong>Espace adolescent</strong>
                    J’apprends à connaître la maladie cœliaque : Je n'ai pas envie qu'on sache que je suis

                    </p>
                    <a href="/ado">Lire Plus</a>
                </div>
            </div>


            <div class="section" id="sec5">
                <div class="container_img">
                    <img src="boulanger.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Asthme du boulanger</div>
                    <p><strong>l'asthme du boulanger</strong>
                    
                    est une maladie souvent d’origine allergique, touchant entre 6 % et 7 %...
                    </p>
                    <a href="/boulanger">Lire Plus</a>
                </div>
            </div>


            <div class="section" id="sec6">
                <div class="container_img">
                    <img src="aller.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Allergie au blé</div>
                    <p><strong>l'allergie au blé</strong>
                    
                    réaction du système immunitaire de votre organisme. Lorsque..
                    </p>
                    <a href="/allergie">Lire Plus</a>
                </div>
            </div>



            <div class="section" id="sec7">
                <div class="container_img">
                    <img src="wdeia.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">(WDEIA)</div>
                    <p><strong>WDEIA </strong>
                    
                    WDEIA  signifie anaphylaxie induite par l'exercice dépendant du blé". Il est utilisé pour décrire...
                    </p>
                    <a href="/wdeia">Lire Plus</a>
                </div>
            </div>
        </div>





        
    </div>

    <footer>
            
        <p>Contacter Nous : </p>
        <p>Facebook  
            
            <a href="https://web.facebook.com/ines.brahami.14" target="_blank"><i class="fab fa-facebook"></i></a>

        </p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>