<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/" class="current">Accueil</a>
            <a href="/search">Rechercher</a>
            <a href="/">Diagnostique</a>
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        
        <div class="flex">
            <div class="img">
                <img src="celiaq.jpg" alt="">
            </div>
            <div class="aside">
                <h2>INTOLÉRANCE & HYPERSENSIBILITÉ
                    AU GLUTEN</h2>
                <p>
                    L’intolérance et l'hypersensibilité au gluten sont de nos jours des maladies digestives fréquentes.
                     Leur connaissance a beaucoup progressé durant ces dernières années mais le seul traitement connu reste 
                     l’éviction du gluten de l’alimentation.
                    <br><br>
                    On estime qu’environ 30 % des adultes manifestent une intolérance au gluten, mais ce taux pourrait être beaucoup plus élevé, tout simplement parce que très peu de gens font le lien entre leur état de santé et l’intolérance au gluten (maladie cœliaque). La fréquence de la maladie varie selon les régions du globe et l’origine ethnique. Les populations caucasiennes (Européens, Nord-Américains de race blanche, Australiens) sont les plus touchées, 
                    la prévalence oscillant entre 1 personne sur 100 et 1 personne sur 300 environ.
                    <br><br>
                    La maladie semble plus rare chez les personnes d’origine asiatique ou africaine. Selon Santé Canada, 300 000 Canadiens pourraient 
                    être atteints de la maladie cœliaque et, d’après certaines études, 9 cas sur 10 ne sont pas diagnostiqués.
                </p>
                <a class="contacter">Contacter nous</a>
            </div>
        </div>



        <div class="sections">


            <div class="section" id="sec1">
                <div class="container_img">
                    <img src="mentouri.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Bioinformatique</div>
                    <p><strong>Qui somme nous ?</strong>
                        Etudiants en Bioinformatique à l'université Mentouri Constantine
                    </p>
                    <a href="/us">Lire Plus</a>
                </div>
            </div>


            
            <div class="section" id="sec2">
                <div class="container_img">
                    <img src="sec2.jpeg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Au Quotidien</div>
                    <p><strong>Cuisiner sans Gluten</strong>
                        : Imaginer des recettes variées, simples à réaliser, 
                        qui plaisent à tous ...
                    </p>
                    <a href="/cuisiner">Lire Plus</a>
                </div>
            </div>


            <div class="section" id="sec3">
                <div class="container_img">
                    <img src="sec3.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Maladies liées au Gluten</div>
                    <p><strong>Maladie cœliaque </strong>
                        : La maladie cœliaque ou intolérance au gluten est aujourd’hui une des..
                    </p>
                    <a href="/celiaq">Lire Plus</a>
                </div>
            </div>

            <div class="section" id="sec4">
                <div class="container_img">
                    <img src="sec4.jpg" alt="">
                </div>
                <div class="txt">
                    <div class="deplace">Espace Professionel</div>
                    <p><strong>Établissements du secteur alimentaire : </strong>
                         Que vous soyez cuisinier....
                    </p>
                    <a href="/espace">Lire Plus</a>
                </div>
            </div>

        </div>




        
    </div>

    <footer>
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>