<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            <a href="/">Diagnostique</a>
            <a href="/">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content">
        
        
        <h2>Qui Somme Nous ?</h2>

        <p>Nous somme des étudiantes Master de l'université Mentouri Constantine</p>
        <p>Pour notre projet de fin d'étude, ...</p>
    </div>

    <footer>
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>