<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
           
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding: 50px;">
        <div class="flex">
            <div style="max-width:600px">
                <h2 style="color:rgb(99, 12, 12);">Qui Somme Nous ?</h2>

                <h4>
                Devant l'empleur des maladies lièes au gluten censeès disparaitre de nos jours avec les remedes proposès par les scientifiques
                tels que l'èquillibre alimentaire , entre autre nous continuons a recenser a travers le monde des victimes sujettes a l'alimentation 
                exessive du gluten et c'est pourquoi
                </h4>
                <p>
                nous,etudiantes en bioinformatique desirons apporter nos connaissances que nous avons acquises 
                durant notre cursus universitaire dans ce domaine, nous avons a cet effet par truchement de combinaison entre la biologie et l'informatique
                crèe un site web dans le but de :
                </p>
                <ul>
                    <li>Informer les intolérants au gluten et les hypersensibles au gluten non cœliaques, le public, les professionnels de santé et de l’alimentation.</li>
                    <li>Défendre les intérêts des personnes atteintes de pathologies liées au gluten auprès des instances gouvernementales et des professionnels de l’industrie alimentaire.</li>
                    <li>Soutenir la recherche médicale.</li>
                </ul>
                <p>
                et c'est dans ce sens que notre duo s'est efforcè dans le travail de ce memoire de fin d'etudes que nous esperons attirera toute votre attention 
                qui, nous ne doutons pas serait a la hauteur de votre auguste chaire pour nous encourager a travailler davantage dans ce domaine.
                Nous vous remercions par avance tous vos efforts que vous nous avez prodiguès pendant touts nos etudes.
                                                
                </p>
                <strong>
                BRAHAMI INES
                </strong>
                <br><br>
                <strong>
                SAHKI RANIA IKRAM
                </strong>
            </div>

            
                <img src="ines.jpg" alt="" id="ines">
            
        </div>
        
       
    </div>

    <footer style="max-width: 1000px;">
            
        <p>Contacter Nous : </p>
        <p>Facebook  <i class="fab fa-facebook"></i></p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>