<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="media.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Accueil</title>
</head>
<body>

    <nav>
        <div id="logo">
            <i class="fa-solid fa-dna"></i>
        </div>
        <div id="links">
            <a href="/">Accueil</a>
            <a href="/search">Rechercher</a>
            
            <a href="/contact">Contact</a>
        </div>
    </nav>
    

    <div id="content" class="content" style="padding: 50px;">
      
        <h1>WDEIA - Anaphylaxie induite par l'exercice dépendant du blé </h1>

        <img style="max-width:400px;margin: 50px auto; display: block;"  src="wdeia.jpg" alt="">

        <p>
        <strong>WDEIA</strong>
            signifie anaphylaxie induite par l'exercice dépendant du blé". 
            Il est utilisé pour décrire la soi-disant anaphylaxie induite par l'exercice dépendante du blé , 
            qui est l'une des anaphylaxies sommatives. 
        </p>

        <p>
            <strong>WDEIA</strong> est un tableau clinique dans lequel les aliments contenant du blé sont tolérés seuls, 
            mais une réaction allergique (anaphylactique) se produit en relation avec des facteurs aggravants tels que l'effort physique.
        </p>
        

        <h2 style="color: rgb(121, 7, 7);">Quelle est la fréquence de la WDEIA et existe-t-il certains groupes à risque ?</h2>
        <p>
        Bien que seulement 0,4 % des adultes soient touchés par une allergie au blé, le blé est la cause la plus 
        fréquente d'anaphylaxie à l'âge adulte. Les allergies au blé sont beaucoup plus fréquentes dans l'enfance.
        <br>
        L' allergie au blé induite par l' exercice est une forme particulière d'allergie au blé qui survient 
        principalement chez les adultes. En principe, cependant, n'importe qui, quel que soit son âge et son sexe,
         peut développer une WDEIA. La WDEIA n'est pas associée à des comorbidités. 
        <br> 
        Les données actuelles suggèrent que les personnes présentant certains traits génétiques (type HLA DPB1∗02:01:02 )
         ont un risque accru de développer une WDEIA.

        </p>
       
        <h2 style="color: rgb(121, 7, 7);">Dans quelles circonstances une réaction anaphylactique se produit-elle chez les personnes atteintes de WDEIA ?</h2>
        <p>
            Très souvent, les personnes souffrant d'anaphylaxie induite par le blé restent sans symptômes pendant 
            de longues périodes. Une réaction anaphylactique se produit chez les personnes atteintes de WDEIA 
            uniquement lorsque la consommation de blé coïncide avec un facteur d'amplification. <br>
             Le blé est généralement consommé sous forme de petits pains, de pizzas, de pâtes, 
             de spaetzle, etc., et l'anaphylaxie survient dans les 30 minutes jusqu'à un maximum de 4 à 6 heures 
             après la consommation. Le facteur exacerbant le plus courant dans la WDEIA est l'activité physique. 
             <br>
             La quantité de blé consommée n'a pas d'importance. Même les plus petites quantités de blé peuvent 
             déclencher une WDEIA. Outre l'effort physique , la prise d' analgésiques , la consommation d'alcool 
             etles infections aiguës sont des facteurs d'amplification possibles.

        </p>

        <h2 style="color: rgb(121, 7, 7);">
            Comment se fait-il que la WDEIA puisse entraîner une anaphylaxie à la fois directement et quelques 
            heures après avoir mangé du blé plus un effort ?
        </h2>

        <p>
        Le laps de temps important dépend, entre autres, de la rapidité avec laquelle les protéines de blé sont
         digérées individuellement et pénètrent ensuite dans le sang. <br> L'activité physique est l'un des facteurs
          qui entraînent la baisse du pH gastrique. <br> En conséquence, les protéines, c'est-à-dire les protéines, 
          sont mieux dissoutes et plus fortement résorbées. <br> La rapidité avec laquelle un aliment consommé est 
          digéré dépend d'un certain nombre de facteurs. Par exemple, ce qui a été mangé en même temps joue un rôle, 
          quelle valeur de pH prévaut dans l'estomac ou quel médicament a été pris. Les bloqueurs d'acide, par exemple,
           ralentissent la digestion.

        </p>


        <h2 style="color: rgb(121, 7, 7);">Les patients atteints de WDEIA sont-ils autorisés à faire de l'exercice?</h2>
    
        <p>
            Par exemple, les patients souffrant d'anaphylaxie induite par l'exercice peuvent facilement faire de 
            l'exercice à jeun ou suivre un régime sans gluten. Cependant, si le même patient mange 
            d'abord des petits pains puis fait du jogging, de l' urticaire ou un choc anaphylactique se produit.

        </p>



        <h2 style="color: rgb(121, 7, 7);">
            À quoi peuvent ressembler les symptômes les plus légers de WDEIA ?
        </h2>
        <p>
            Les symptômes de la WDEIA sont les symptômes d'une réaction anaphylactique , dont la gravité peut varier.
            <br>
            Les réactions anaphylactiques plus légères ne peuvent s'accompagner que de réactions cutanées ou de réactions 
            muqueuses. Ensuite, il s'agit de papules ou d'urticaire, également appelées urticaire. Le gonflement du visage 
            (œdème de Quincke) avec démangeaisons est également fréquent dans la WDEIA. Les patients déclarent 
            également avoir chaud ou "rougir" avec WDEIA. On parle alors de symptômes de flush

        </p>


        <h2 style="color: rgb(121, 7, 7);">
            Comment la personne affectée peut-elle reconnaître qu'il s'agit d'un événement anaphylactique plus grave ?
        </h2>
        <p>Dans le cas de réactions anaphylactiques un peu plus graves, des symptômes liés à d'autres systèmes 
            d'organes sont également présents. Dans le système respiratoire, cela peut être une crise d' asthme 
            ou un essoufflement. En ce qui concerne le système cardiovasculaire, l'intolérance au blé peut se 
            manifester sous la forme de palpitations cardiaques , de vertiges, de chute de tension artérielle et
             même de choc allergique avec inconscience. Le tractus gastro-intestinal peut également être touché,
             entraînant des douleurs abdominales, des flatulences, des nausées, des vomissements ou même de la diarrhée.
            <br>     
            Cependant, la majorité des patients ne présentent pas ces symptômes graves. Le plus souvent, l' allergie <strong>WDEIA</strong> 
            provoque des symptômes plus légers tels que la fièvre de l'ortie aiguë, la tachycardie et les étourdissements
        </p>

        <h2 style="color: rgb(121, 7, 7);">
            La consommation de céréales similaires au blé, par exemple l'épeautre, est-elle également problématique avec WDEIA ?
        </h2>
        <p>
            Dans la plupart des cas, contrairement à la maladie coeliaque , dans laquelle toutes les céréales contenant 
            des protéines de gliadine doivent être évitées, d'autres céréales comme le seigle ou l'épeautre sont 
            tolérées dans la WDEIA. Le principal allergène de WDEIA est appelé gliadine oméga-5 ( Tri a 19 ).

        </p>


        <h2 style="color: rgb(121, 7, 7);">
            
            L'intensité du sport dans le choc allergique WDEIA est-elle importante ?
        </h2>
        <p>
        Oui, mais cela varie beaucoup d'une personne à l'autre. Il y a des patients WDEIA chez qui même une 
        promenade en rapport avec la consommation de blé suffit à déclencher une réaction de choc. Chez d'autres 
        patients, seul un effort physique intense comme jouer au football, danser la salsa ou faire du jogging
         déclenche un choc anaphylactique. Cependant, seulement si le blé a été consommé au préalable.

        </p>


        <h2 style="color: rgb(121, 7, 7);">Outre l'effort physique, quels autres facteurs amplificateurs existe-t-il dans WDEIA ?</h2>
        <p>En général, c'est le groupe d' analgésiques tels que l'AAS, l'ibuprofène ou le diclofénac, 
            appelés anti-inflammatoires non stéroïdiens , qui peuvent agir comme cofacteurs d'un choc 
            allergique dans l' anaphylaxie induite par l'effort, dépendante du blé. Cela signifie que les 
            patients qui prennent régulièrement des anticoagulants tels que l'AAS, par exemple en raison d'une 
            crise cardiaque, peuvent déjà avoir un facteur d'amplification. Cela peut conduire au développement 
            d'une anaphylaxie par sommation. <br>
            Les infections, telles que les rhumes, sont également un cofacteur important.
             La consommation d'alcool est également un cofacteur. Pour déclencher un choc anaphylactique, 
             il peut suffire que l'alcool ait été consommé en parallèle avec le blé, même sans effort physique
              supplémentaire. Le stress est également considéré comme un cofacteur, tout comme les facteurs hormonaux. 
            <br>  
            Il y a des patients qui ne développent WDEIA que lorsque la consommation d'aliments contenant du blé, 
            l'exercice et les menstruations coïncident.
            </p>



        <h2 style="color: rgb(121, 7, 7);">
Comment se fait le diagnostic "WDEIA" ?</h2>
    <p>
    WDEIA est une allergie qui n'est souvent pas diagnostiquée rapidement,
     également parce que les événements de choc anaphylactique se produisent souvent à un intervalle de temps important.
     <br>
     Un bon historique médical est donc très important. Ici, le médecin doit se demander s'il pourrait y avoir un 
     lien entre une réaction allergique, la consommation de blé et l'activité physique ou d'autres cofacteurs. <br>
Avec le WDEIA, il n'y a pas la constellation typique qui caractérise sans équivoque un WDEIA. <br>
Si l'anamnèse fait soupçonner que les aliments ou les sports contenant du blé sont temporairement liés à la
 réaction anaphylactique, le médecin doit interroger le patient sur tous les cofacteurs possibles mentionnés 
 et effectuer les tests appropriés.
 
    </p>


        <h2 style="color: rgb(121, 7, 7);">Quels tests peuvent être utilisés pour diagnostiquer WDEIA?</h2>
        <p>
        Les prick tests , un test cutané à l'extrait de blé, mais de préférence à la farine de blé natif, sont utilisés pour le diagnostic . " Farine de blé indigène " signifie farine normale du supermarché. La plupart des personnes atteintes de WDEIA répondent positivement à ce test prick-to-prick . Mais d'autres personnes allergiques au blé montrent également une réaction dans ce test. Pour confirmer avec certitude le diagnostic de WDEIA , un test sanguin doit être effectué pour déterminer les anticorps IgE spécifiques contre la gliadine oméga-5, l'allergène principal de WDEIA. Des anticorps dirigés contre la gliadine oméga-5 peuvent être détectés chez 80 % des patients atteints de WDEIA, et le diagnostic peut donc être considéré comme confirmé. Rarement,
         les patients réagissent aux autres gliadines ou à la protéine de transfert des lipides Tri a 14.  
        </p>
        <h2 style="color: rgb(121, 7, 7);">
        Si la gliadine oméga-5 est l'allergène, où la trouve-t-on autrement ?</h2>
        <p>
        La gliadine oméga-5 se trouve dans les aliments contenant du blé. Au Japon, en revanche, certains patients 
        ont été sensibilisés à la γ-gliadine en utilisant des savons contenant des protéines de blé hydrolysées. 
        <br>
        Ces patients ont également développé WDEIA.

        </p>
        <h2 style="color: rgb(121, 7, 7);">
            Et comment le diagnostic de WDEIA est-il fait chez ceux qui n'ont pas d'anticorps contre la gliadine 
            oméga-5 ?
        </h2>
        <p>
        Chez les patients présentant une suspicion clinique de WDEIA et un test sanguin négatif pour les protéines 
        de blé mentionnées, l' étalon-or du diagnostic serait un test de provocation dans une clinique. 
        <br>
        Le patient recevrait du blé à manger, puis s'exercerait sur le vélo ergomètre, éventuellement avec une 
        dose supplémentaire d'AAS (aspirine). Si une réaction anaphylactique se produit, le diagnostic est certain. 
        <br>
        Cependant, le test de provocation sert également à déterminer la combinaison de facteurs qui conduisent à 
        un événement WDEIA chez le patient individuel. Cela peut être utile pour rendre le lien clair pour le patient.
        <br>
        Cependant, la provocation comporte également un risque d'anaphylaxie - il est donc important de le peser ici.

        </p>

        <h2 style="color: rgb(121, 7, 7);">
        La WDEIA est-elle un diagnostic à vie ou la WDEIA est-elle curable ?
        </h2>
        <p>
        Cette question ne peut pas encore être résolue de manière concluante, car WDEIA est une forme 
        d'anaphylaxie qui n'a été reconnue qu'il y a quelques années. On suppose que la WDEIA persiste à vie. 
        <br>
        Cependant, des études récentes indiquent que les patients peuvent également s'habituer à l'allergène en
         consommant régulièrement du blé sous certaines conditions. Ensuite, seules de grandes quantités de blé
          déclenchent généralement une réaction allergique.

        </p>


        <h2 style="color: rgb(121, 7, 7);">Quel est le traitement de WDEIA? Quelles recommandations faites-vous à vos patients ?</h2>
        <p>
            Si un événement anaphylactique survient, il doit être traité par un médecin urgentiste avec des 
            antihistaminiques, de la cortisone et souvent de l'adrénaline. Une fois le diagnostic de WDEIA posé, 
            il est très important que le patient reçoive une trousse d' urgence pour l'automédication. 
            <br>
            En plus des gouttes de Fenistil et d'une solution de cortisone, celui-ci contient un auto-injecteur 
            d'adrénaline avec lequel le patient peut injecter de l'adrénaline dans le muscle de la cuisse. 
            <br>
            En cas de réaction anaphylactique, il peut se soigner avant l'arrivée des urgentistes.
            Je recommande aux patients d'éviter généralement de manger du blé dans les 4 heures précédant 
            l'activité physique ou lorsqu'ils boivent de l'alcool en même temps. 
            <br>
            La plupart des patients développent une bonne compréhension de la maladie au fil du temps.

        </p>


        <h2 style="color: rgb(121, 7, 7);">
        Que peuvent faire les personnes atteintes de WDEIA pour prévenir le choc allergique en premier lieu ?
        </h2>
        <p>
        Le patient WDEIA a besoin d'une attention urgente pour éviter les cofacteurs dans les 4 à 6 heures après avoir mangé du blé.
          <br>  Les déclencheurs pour le WDEIA sont, par exemple :
        </p>
        <ul>
            <li>Stress physique</li>
            <li>consommation d'alcool</li>
            <li>prendre des analgésiques</li>
            
        </ul>
        <p>
         Mais : Chez les patients qui ont eu plusieurs événements d'anaphylaxie induits par le blé, il a 
         été constaté que les facteurs déclenchants peuvent varier dans chaque cas. Par exemple, 
         l'exercice et le blé peuvent déclencher WDEIA chez le même patient. La prochaine fois ce sera une infection 
         liée au blé. Et puis enfin l'association du sport, de l'alcool et du blé. C'est pourquoi le kit
          d'urgence est également très important.

        </p>
        <h2 style="color: rgb(121, 7, 7);">La WDEIA devrait-elle complètement éviter le blé ?</h2>
        <p>
        Non ce n'est pour la plupart des patients WDEIA. Bien sûr, cela dépend aussi de l'histoire individuelle, 
        mais la majorité des patients WDEIA n'ont pas d'événements récurrents et sur une longue période de temps. 
        <br>
        La renonciation générale au blé signifierait donc une trop grande restriction. Une fois que le diagnostic 
        a été posé et que le patient est conscient du contexte de la WDEIA, il peut généralement très bien gérer 
        la WDEIA et éviter que les réactions ne se reproduisent.

        </p>

    </div>

    <footer style="max-width: 1000px;">
            
        <p>Contacter Nous : </p>
        <p>Facebook  

            <a href="https://web.facebook.com/ines.brahami.14" target="_blank"><i class="fab fa-facebook"></i></a>
        </p>
        <p>Instagram <i class="fab fa-instagram"></i></p>
        <p>Copyright &copy - 2022 - </p>
    </footer>
</body>
</html>