@media screen and (max-width: 800px) {
    
   
    .img{
        width: 250px;
        margin: auto;
    }
    .img img{
        width: 250px !important;
        height: 200px !important;
        
    }

    /* .section img{
        width: 250px;
        height: 180px;    
    } */
    
}